[General]
http-listen = 0.0.0.0:8888
socks5-listen = 0.0.0.0:8889
internet-test-url = {{ test_url }}
proxy-test-url = {{ test_url }}
test-timeout = 3
ipv6 = true
show-error-page-for-reject = true
dns-server = 223.5.5.5, 119.29.29.29, 2400:3200::1, 2402:4e00::, system
# DNS
# doh-server = https://9.9.9.9/dns-query
loglevel = notify
skip-proxy = {{ surge_skip_proxy }}
exclude-simple-hostnames = true
allow-wifi-access = true
allow-hotspot-access = true
external-controller-access = haha71@0.0.0.0:8887
http-api-web-dashboard = true
# Others
http-listen = 0.0.0.0:8000
# network-framework = true
socks5-listen = 0.0.0.0:1080
ipv6-vif = auto
wifi-access-http-port = 8000
wifi-access-socks5-port = 1080


[Replica]
hide-apple-request = true
hide-crashlytics-request = true
hide-udp = false
keyword-filter-type = false

[Proxy]
{% for proxy_line in surge_proxy_lines %}{{ proxy_line }}
{% endfor %}
[Proxy Group]
AllProxy = select, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
AutoGroup = url-test{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}, url={{ test_url }}, interval=300, tolerance=100, timeout=5
AppleGroup = select, DIRECT, AllProxy, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
ChinaGroup = select, DIRECT, AllProxy, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
SpeedtestGroup = select, DIRECT, AllProxy, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
MicrosoftGroup = select, DIRECT, AllProxy, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
BinanceGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
CryptoGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
DiscordGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
DisneyGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
DockerGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
GoogleGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
HBOGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
IpDetectGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
NetflixGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
OpenAIGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
1PasswordGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
PaypalGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
SpotifyGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
TelegramGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
TiktokGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
TVBGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
TwitterGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
YoutubeGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
CloudflareGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
DropboxGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
GithubGroup = select, AllProxy, DIRECT, AutoGroup{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}
FinalGroup = select, AutoGroup, AllProxy, DIRECT{% for proxy_name in proxy_names %}, {{ proxy_name }}{% endfor %}

[Rule]

# 内网流量走wireguard
# IP-CIDR,10.1.1.0/24,wg,no-resolve // wireguard

# > 订阅地址以及外部资源地址直连
DOMAIN-SUFFIX, rustez.cc, DIRECT
DOMAIN-SUFFIX, aliyuncs.com, DIRECT

# MacOS
# PROCESS-NAME, UUBooster, DIRECT
# PROCESS-NAME, aria2c, DIRECT
# PROCESS-NAME, fdm, DIRECT
# PROCESS-NAME, Folx, DIRECT
# PROCESS-NAME, NetTransport, DIRECT
# PROCESS-NAME, Thunder, DIRECT
# PROCESS-NAME, Transmission, DIRECT
# PROCESS-NAME, uTorrent, DIRECT
# PROCESS-NAME, WebTorrent, DIRECT
# PROCESS-NAME, WebTorrent Helper, DIRECT

# RULE-SET, https://ruleset.rustez.cc/surge/process.list, ProcessGroup


RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/apple.list, AppleGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/microsoft.list, MicrosoftGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/speedtest.list, SpeedtestGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/google.list, GoogleGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/github.list, GithubGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/binance.list, BinanceGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/crypto.list, CryptoGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/twitter.list, TwitterGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/docker.list, DockerGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/dropbox.list, DropboxGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/telegram.list, TelegramGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/discord.list, DiscordGroup


RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/ipDetect.list, IpDetectGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/openai.list, OpenAIGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/1password.list, 1PasswordGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/paypal.list, PaypalGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/spotify.list, SpotifyGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/cloudflare.list, CloudflareGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/netflix.list, NetflixGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/disney.list, DisneyGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/hbo.list, HBOGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/tiktok.list, TiktokGroup
RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/tvb.list, TVBGroup

RULE-SET, https://raw.githubusercontent.com/sunliang711/rule-set/refs/heads/main/surge/china.list, ChinaGroup

FINAL, FinalGroup
